body, html {
    margin: 0;
    padding: 0;
    background-color: #a2a9b3;
    color: #ec7b11;
    color: #FFF;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}



header {
    height: 90px;
    background-color: black;
}



header .wrapper .flexrow{
    align-items: center;
}



header .wrapper{
   display: flex;
   justify-content: space-between;
   align-items: center;
}



header nav ul{
    display: flex;
}



header nav ul li{
    list-style-type: none;
    display: flex;
    align-items: center;
}



header nav ul li a{
    padding: 32px 20px;
    color: #FFF;
    text-decoration: none;
}



header nav ul li button{
    background-color: #ec7b11;
    color: rgb(255, 255, 255);
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    margin: 0 0 0 15px;
    cursor: pointer;
}



header nav ul li a:hover, .active{
    border-bottom: 2px solid #ec7b11;
    color: #ec7b11;
}



header img{
    width: 50px;
    height: 50px;
}



.flexrow{
    display: flex;
    gap: 20px;
}



aside {
    width: 200px;
    min-height: calc(100vh - 210px);
    background-color: bisque;
}



main {
    width: 100%;
    min-height: calc(100vh - 210px);
}



footer {
    height: 120px;
    background-color: black;

}



.wrapper{
    margin: 0 auto;
  
}



section{
   display: flex;
    margin: 0;
justify-content: center;

}



.pou{
    position: relative;
    width: 400px;
    margin: 40px 15px ;
    height: 350px;
    background-color: #1E293B;
    border-radius: 15px;
}



H1 {
    font-size: 20px;
    margin: 20px;
    display: flex;
    justify-content: center;
}



H2 {
    font-size: 20px;
    margin: 20px;
}



h3 {
    font-size: 20px;
    margin: 20px;
}

h4 {
    font-size: 20px;
    margin: 20px;

}
h5 {
    font-size: 40px;
    margin: 20px;
    display: flex;
        justify-content: center;
}

p {
    display: flex;
    justify-content: center;
    margin: 20px;
}



sectionp {
   display: flex;
    margin: 0;
justify-content: center;
font-size: 20px;
}



sectionn {
   display: flex;
    margin: 0;
justify-content: end;
}



img {
      width: 100%;
     max-height: 100px;
      object-fit: contain;  
      margin-top: 15px;
      border-radius: 8px;
    }



.modal {
    background-color: #1e293b98;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none ;
    justify-content: center;
    align-items: center;
}



.modal main {
    background: #ffffff;
    width: 300px;
    border-radius: 10px;
    padding: 20px 30px;
}



.modal main h1{
    color: rgb(0, 0, 0);
    margin: 0;
}



.modal main label {
    color: black;
    margin: 10px 0 0 0;
}



.modal main form {
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 0;
}



.modal main form input {
    padding: 5px;
    font-size: 18px;
    border-radius: 5px;
}



.modal main form select {
    padding: 5px;
    font-size: 18px;
    border-radius: 5px;
}



.modal main form input[type="submit"] {
    font-size: 18px;
    background-color: #ec7b11;
    color: rgb(255, 255, 255);
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    margin: 15px 0 0 0;
    cursor: pointer;
}

button {
    font-size: 18px;
    background-color: #ec7b11;
    color: rgb(255, 255, 255);
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    margin: 15px 0 0 0;
    cursor: pointer;
}

#cards{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.buttons {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #1e293b98;
    border-radius: 10px;
    display: none;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.buttons button {
    margin: 0;
}